* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

.navbar {
    position: sticky;
    top: 0;
}

.navbar-toggler {
    background: rgb(29, 29, 29);
}

header {
    background: #293241;
    color: #fff;
}

.main {
    background-color: #3d5a80;
}

.block_1 {
    background-color: rgb(199, 199, 199);
}

.block_2 {
    background-color: rgb(199, 199, 199);
}

.block_3 {
    background-color: rgb(199, 199, 199);
}

.block_4 {
    background-color: rgb(199, 199, 199);
}

.foot {
    background: #2c3e50;
    color: #fff;
}

a {
    color: black;
}

a:hover {
    color: rgb(167, 29, 29);
    text-decoration: none;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    background-color: #2c3e50;
    color: white;
}

.calc {
    background-color: rgb(199, 199, 199);
}

.calc-radio {
    background-color: rgb(199, 199, 199);
}

.exp {
    background-color: rgb(199, 199, 199);
}

.card {
    background-color: rgb(199, 199, 199);
    border: 0;
}

.test {
    background-color: rgb(199, 199, 199);
}